/* google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* universal styles */

body {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}


/* shared style */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 0;
}

.primary-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    display: inline-block;
}

.section-tittle {
    margin-bottom: 40px;
}

.section-tittle h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* header sectin style */

.header-section {
    background: rgba(255, 144, 14, 0.10);
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.header-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.site-logo {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.header-menu {
    display: flex;
    gap: 50px;
}

.header-menu li a {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

/* banner section style */

.banner-content {
    padding: 115px 280px 50px 280px;
}

.banner-tittle {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner-img img {
    width: 100%;
}

/* team section style */

.team-section {
    display: flex;
    padding-top: 85px;
    padding-bottom: 130px;
    align-items: center;
}

.team-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-left: 60px;
}

.team-content {
    padding-left: 75px;
    padding-right: 60px;
}

.team-tittle {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
}

.team-content>p {
    margin-bottom: 35px;
}

.quick-list {
    color: #727272;
}

.of-our {
    color: #131313;
}

.features-text {
    color: #FF900E;
}

/* features section style */

.features-section {
    display: flex;
    padding-bottom: 200px;
}

.features-section-tittle h1 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content {
    margin-right: 145px;
}

.features-wrapper-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 40px 30px 30px;
    margin-bottom: 20px;
}

.features-wrapper-tittle {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.features-wrapper-box>p {
    margin-bottom: 0;
}

.features-img {
    position: relative;
}


.ten-years-experience {
    border-radius: 8px;
    background: #FF900E;
    padding: 45px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: -75px;
    left: -90px;
}

.ten-years-experience h4 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
}

.ten-years-experience span {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

/* some fact section style */

.some-fact-section {
    padding-bottom: 180px;
}

.some-fact-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.some-wrapper {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px;
}

.some-wrapper img {
    margin-bottom: 10px;
}

.some-wrapper h2 {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.some-wrapper h5 {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* sponsor section style */

.sponsor-section {
    padding-bottom: 130px;
}

.sponsor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/* copyright section styles */

.footer-section {
    padding-bottom: 200px;
}

.copy-right {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 37px 0;
}

.copyright-text {
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}


/* responsive media query */

/* mobile device */

@media screen and (max-width:576px) {

    .section-tittle h1 {
        font-size: 40px;
    }

    .header-section nav {
        flex-direction: column;
        padding-top: 35px;
    }

    .header-menu {
        margin-top: 25px;
    }

    .banner-content {
        padding: 30px;
        padding-top: 50px;
    }

    .banner-tittle {
        font-size: 50px;
    }

    .primary-btn {
        font-size: 17px;
        padding: 17px 20px;
    }

    .team-section {
        flex-direction: column-reverse;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .team-content {
        padding-bottom: 50px;
        text-align: center;
    }

    .team-images-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 20px;
    }

    .features-section {
        flex-direction: column;
        padding: 0 30px;
        padding-bottom: 75px;
    }

    .features-section-tittle {
        text-align: center;
    }

    .features-section-tittle h1 {
        border: 0;
    }

    .features-content {
        margin-right: 0;
        padding-bottom: 50px;
    }

    .features-img img {
        width: 100%;
    }

    .ten-years-experience {
        padding: 25px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .ten-years-experience h4 {
        font-size: 45px;
        line-height: 40px;
    }

    .ten-years-experience span {
        font-size: 20px;
    }

    .some-fact-section {
        padding: 0 30px;
    }

    .some-fact-container {
        flex-direction: column;
        margin-top: 40px;
    }

    .some-wrapper {
        border-radius: 8px;
        border: 1px solid #FF900E;
        padding: 40px;
        margin-bottom: 30px;
    }

    .sponsor-section {
        padding: 0 30px;
    }

    p {
        font-size: 15px;
    }

    .sponsor-container img {
        margin-bottom: 23px;
        width: 15%;
    }

    .copyright-text {
        font-size: 15px;
    }

    .footer-section {
        padding-bottom: 0;
    }
}

/* tablet device */

@media screen and (min-width:576px) and (max-width:992px) {

    .header-section nav {
        flex-direction: column;
        padding-top: 35px;
    }

    .header-menu {
        margin-top: 25px;
    }

    .header-section {
        padding-bottom: 0;
    }

    .banner-content {
        padding: 90px 30px 70px 30px;
    }

    .banner-tittle {
        font-size: 50px;
    }

    .primary-btn {
        font-size: 17px;
        padding: 17px 20px;
    }

    .team-section {
        flex-direction: column-reverse;
        padding: 50px 30px;
    }

    .team-content {
        padding-bottom: 50px;
        text-align: center;
    }

    .team-images-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 20px;
    }

    .features-section {
        flex-direction: column;
        padding: 0 30px;
        padding-bottom: 0;
    }

    .features-content {
        margin-right: 0;
        margin-bottom: 55px;
    }

    .features-img {
        text-align: center;
    }

    .features-img img {
        width: 75%;
    }

    .ten-years-experience {
        padding: 30px 60px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -82px;
        /* bottom: -10%; */
        /* top: -10%; */
    }

    .ten-years-experience h4 {
        font-size: 45px;
        line-height: 40px;
    }

    .ten-years-experience span {
        font-size: 20px;
    }

    .some-fact-section {
        padding: 0 30px;
        padding-bottom: 50px;
    }

    .some-fact-section .section-tittle {
        text-align: center;
    }

    .some-fact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin-top: 40px;
    }

    .sponsor-section {
        padding: 0 30px;
        padding-bottom: 50px;
    }

    .sponsor-container img {
        margin-bottom: 23px;
        width: 15%;
    }

    .footer-section {
        padding-bottom: 0;
    }

    .copy-right {
        padding: 30px 0;
    }

    .copyright-text {
        font-size: 18px;
    }
}